<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="home.css"/>

</head>
<body>
    <div>
        <a th:href="@{/flushUserPage}" id="flush_userpage" th:text="${session.user.name}+的网盘"></a>
        <a th:href="@{/logout}" id="logout_bt">注销</a>
    </div>

    <hr>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/upload" id="upload_form">
                <input type="file" name="file" id="uploader"/>
                <input type="submit" value="上传" id="upload_submit"/>
        </form>

        <form action="#" th:action="@{/search}" method="get" id="search_form">
                <input type="text" name="searchText"/>
                <input type="submit" value="搜索" id="search_submit"/>
        </form>
    </div>


    <div th:if="${operateResult}">
		<p th:text="${operateResult}" id="message"></p>
	</div>

    <table>
        <thead>
        <tr>
          <th>#</th>
          <th>filename</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="file, iter: ${session.files}">
              <td th:text="${iter.index + 1}"></td>
              <td th:text="${file.name}"></td>
              <td>
                  <a th:href="@{/home(id=${file.id}, name=${file.name}, action='download')}">下载</a>
              </td>
              <td>
                  <a th:href="@{/home(id=${file.id}, name=${file.name}, action='delete')}">删除</a>
              </td>
            </tr>


        </tbody>
    </table>


</body>
</html>
