<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="login.css"/>
</head>

<body>
<div id="login_frame">
    <p id="login_message">注册账号</p>
    <form action="#" th:action="@{/register}" method="get">
        <p>
            <label class="label_input">用户名</label>
            <input type="text" name="userName" id="userName" class="text_field" required />
        </p>
        <p>
            <label class="label_input">密码</label>
            <input type="text" name="password1" id="password1" class="text_field" required/>
        </p>
        <p>
            <label class="label_input">再次输入密码</label>
            <input type="text" name="password2" id="password2" class="text_field" required/>
        </p>
        <div th:if="${message}">
    		<p th:text=${message} id="message"></p>
    	</div>
        <div id="login_control">
            <input type="submit" id="btn_login" value="注册"/>
            <a th:href="@{/loginPage}" id="login_bt">返回登录页</a>
        </div>
    </form>
</div>

</body>
</html>
